.App {
  text-align: center;
}

.Moo {
  height: 15vmin;
  pointer-events: none;
}

.Moo-right {
    height: 15vmin;
    pointer-events: none;
    transform: scaleX(-1);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}